[2021-05-17 18:47] kekesimarti opened #1 "Increase CDR Plugin OVA/AMI protection"
@MaNe2020 commented on [Fri May 14 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/348)

To ssh to CDR Plugin we are now use username/pass both being plain username and plain password, kind of obvious.
We need to change this, start using pem key or bastion or harder passwords.

---

@GINAGC commented on [Fri May 14 2021](https://github.com/filetrust/cdr-plugin-folder-to-folde

[2021-05-17 18:57] kekesimarti opened #2 "When setting #threads is used and does it need to be done for clear, load, set IPs or just start"
@kekesimarti commented on [Wed May 12 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/339)

[2021-05-17 19:00] kekesimarti opened #3 "Does start processing happens if we first load data and do not wait for this to finish just press start and do we need to set base dir and threads each time"
@kekesimarti commented on [Wed May 12 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/338)

[2021-05-17 19:00] kekesimarti opened #4 "Box where we set base dir is not fixed it should be and also scroll bars should be removed both from that box and also output box next to it"
@kekesimarti commented on [Wed May 12 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/337)

[2021-05-17 19:01] kekesimarti opened #5 "Threat Analysis Dashboard does not refresh and stores previous runs even if time frame is changed"
@kekesimarti commented on [Wed May 12 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/336)

[2021-05-17 19:02] kekesimarti opened #6 "Kibana Dashboards do not pick up new directory data and should (re)load - find a way to do this automatically without the need for (re)load"
@kekesimarti commented on [Wed May 12 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/335)

[2021-05-17 19:03] kekesimarti opened #7 "Make sure that the ES server is up before the API server starts"
@kekesimarti commented on [Wed May 05 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/275)

For more context please [check this PR](https://github.com/filetrust/cdr-plugin-folder-to-folder/pull/248#discussion_r626429672)
![image](https://user-images.githubusercontent.com/79467690/117134698-2f058780-ada6-11eb-85f0-1bbb8b18bb83.png)

[2021-05-17 19:03] kekesimarti opened #8 "When doing a 'clean' this should also delete this data"
@kekesimarti commented on [Thu May 06 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/284)

When running, the Threat Analysis Dashboard looks like it does not sync properly as it pics up files from previous runs. And also it just marks these files as a high-level threat and has this pretty uniform %.

 When doing a 'clean' this should also delete this data

See the pic:
![ima

[2021-05-17 19:04] kekesimarti opened #9 "When I run the server from OVA on VMware I'm getting the SSH ports"
@kekesimarti commented on [Thu May 06 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/285)

![image.png](https://images.zenhubusercontent.com/6033d6c0a356dc6005080557/e724e992-4399-46e7-9423-6c84039bba5c)

[2021-05-17 19:04] kekesimarti opened #10 "Running server (on latest OVA) doesn't not have any logs"
@kekesimarti commented on [Thu May 06 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/287)

![image](https://user-images.githubusercontent.com/79467690/117276037-f1186a00-ae5e-11eb-9c66-656fb616efba.png)

[2021-05-17 19:05] kekesimarti opened #11 "File Analysis dashboard opens without loading file results"
@kekesimarti commented on [Fri May 07 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/302)

![image](https://user-images.githubusercontent.com/79467690/117427127-fe982780-af24-11eb-8caf-52692116ffc0.png)
Getting the same picture after clear data, load files and start processing as well:
![image](https://user-images.githubusercontent.com/79467690/117427244-225b6d80-af25-11eb-9

[2021-05-17 19:05] kekesimarti opened #12 "The workflow website is not working in offline mode"
@kekesimarti commented on [Fri May 07 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/303)

![image](https://user-images.githubusercontent.com/61416876/118475279-f77ecf80-b703-11eb-8de8-a78a83a7a981.png)

---

@GINAGC commented on [Fri May 07 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/303#issuecomment-834504655)

@kekesimarti what was not working he

[2021-05-17 19:06] kekesimarti opened #13 "Consume these metrics from python and support to the F2F Plugin to extract status data from it"
@kekesimarti commented on [Mon May 10 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/317)

- make sure that the pod is running on a different port
- make that officially supported since that set of metrics is really powerful (see pic) http://34.253.226.108:8080/metrics

Try [Prometheus](https://github.com/prometheus/client_python)

This bug is still happening in some of the

[2021-05-17 19:06] kekesimarti opened #14 "Would be good if everything can be done on Workflow page"
@kekesimarti commented on [Wed May 12 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/332)

To set IPs we need first to go to f2f page and set base dir, then go to set IPs page and if we now go back to f2f it will show the previous dir (scenario-1)

[2021-05-17 19:07] kekesimarti opened #15 "Have base dir not to go back to default one (scenario-1)"
@kekesimarti commented on [Wed May 12 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/333)

[2021-05-17 19:07] kekesimarti opened #16 "STOP processing does not work without refreshing the page (jupyter issue) but would be nice to see if it can be implemented differently"
@kekesimarti commented on [Wed May 12 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/334)

[2021-05-17 19:08] kekesimarti opened #17 "Polyglot files support on file generator API"
@GINAGC commented on [Tue Apr 20 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/141)

@Samarth (Upwork - Python Developer) can you look at the code we had for creating Polyglot files and add that feature to this API (@Georgina Gonzalez (DM) can you put @Samarth (Upwork - Python Developer) in touch with the devs that were experimenting with Polyglot files)
https://github.com/

[2021-05-17 19:09] kekesimarti opened #18 "Root of API should show the swagger page"
@DinisCruz commented on [Thu May 06 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/281)

i.e. instead of
![image](https://user-images.githubusercontent.com/656739/117224825-c7ccef00-ae08-11eb-854a-42487a04ab11.png)

show
![image](https://user-images.githubusercontent.com/656739/117224838-d1565700-ae08-11eb-83f1-d648fb0e7df5.png)

[2021-05-17 19:09] kekesimarti opened #19 "rename FastAPI to something like "GW Folder-to-Folder API""
@DinisCruz commented on [Thu May 06 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/282)

![image](https://user-images.githubusercontent.com/656739/117224901-fa76e780-ae08-11eb-95c3-389bd71a5e92.png)

---

@DinisCruz commented on [Wed May 12 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/282#issuecomment-839956507)

merged

[2021-05-17 19:09] kekesimarti opened #20 "Pressing "load files" a newly deployed AMI causes 500: Internal Server Error"
@ggrig commented on [Thu May 06 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/292)

![image](https://user-images.githubusercontent.com/26714598/117309697-b7ae2180-ae93-11eb-9cb3-d282594287e5.png)

---

@GINAGC commented on [Wed May 12 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/292#issuecomment-839493234)

@ggrig, @MaNe2020 is this still an issue?

[2021-05-17 19:10] kekesimarti opened #21 "Error when accessing dev_notebooks from Hugo"
@MaNe2020 commented on [Fri May 07 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/306)

Open Hugo (localhost:8004 or IP:1313) navigate to Servers>Jupyter and select dev notebooks
Getting empty page
![image (10)](https://user-images.githubusercontent.com/70108899/117458130-39f91d00-af4a-11eb-9a75-4ecdc027bf7d.png)

---

@GINAGC commented on [Fri May 07 2021](https://github.co

[2021-05-17 19:10] kekesimarti opened #22 "Dev notebook for creating folder with clean files needs modifications"
@MaNe2020 commented on [Fri May 07 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/307)

It needs some indication that files are coping and also as sudo priv is needed for operations if folder does not exist and it does not have right permissions set it will not copy them
![image (11)](https://user-images.githubusercontent.com/70108899/117458428-96f4d300-af4a-11eb-93a8-753946

[2021-05-17 19:11] kekesimarti opened #23 "Threat intelligence report not showing the total"
@Lestat06 commented on [Fri May 07 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/308)

It is showing the unique instances of risk level, instead of the total
![2k-threatLVL](https://user-images.githubusercontent.com/6232283/117460190-89404d00-af4c-11eb-81e4-d2efab2b1609.png)

---

@GINAGC commented on [Wed May 12 2021](https://github.com/filetrust/cdr-plugin-folder-to-folde

[2021-05-17 19:11] kekesimarti opened #24 "Clear analysis_json data"
@MaNe2020 commented on [Mon May 10 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/322)

when we create Threat Analysis dashboard that uses analyse_json, when data are cleared, this dashboard always stays, it does not get updated. I suspect it is due to fact we do not have timestamp field there and that is required so Kibana can parse it.

Find a way to clean analysis_json

-

[2021-05-17 19:12] kekesimarti opened #25 "Investigate GW SDK err "Report xml not exist for file""
@MaNe2020 commented on [Tue May 11 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/326)

This is intermittent issue but during file processing file does not end up processed successfully due to "Report xml not exist for file".
If flow is retried it can end up build successfully but the question is what was wrong at the first place.

---

@GINAGC commented on [Wed May 12 2021]

[2021-05-17 19:12] kekesimarti opened #26 "Investigate GW SDK error " Document Access Blocked due to Policy""
@MaNe2020 commented on [Tue May 11 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/327)

Multiple files end up not being processed successfully with above error
we should investigate what is causing it

---

@GINAGC commented on [Wed May 12 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/327#issuecomment-839475676)

@MaNe2020 can you add a sample file th

[2021-05-17 19:12] kekesimarti opened #27 "Running API Call /pre-processor/pre_process_folder causes test data in source location (hd1) to be deleted"
@jpoolGW commented on [Thu May 13 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/344)

**Repro Steps**
- Set Target folders in /configuration/configure_env/
- Ensure hd2 is clear of any pre existing data
- Set Target folder to copy to hd2 using /pre-processor/pre_process_folder
- Check data folder in hd2
- Check source data in had1

**Expected Results:**
- Data is copied fro

[2021-05-18 05:16] GINAGC commented on #25
@kekesimarti this is cloud sdk defect, this did not had to be moved.

[2021-05-18 06:37] gmuditdce commented on #21
yes @GINAGC checking this now.

[2021-05-18 07:28] MaNe2020 commented on #1
@pranaysahith lets do as you suggested. @GINAGC pls confirm

[2021-05-18 09:21] samarthdd opened #28 "not supported copied to todos"
new bug : When processed large number of files, few not supported files were in todo with error message  "The file type is not currently supported", on triggering retry  workflow, they got moved to not supported

[2021-05-18 09:36] samarthdd commented on #19
this is done

[2021-05-18 09:36] samarthdd commented on #22
this is fixed

[2021-05-18 09:36] #22 closed

[2021-05-18 11:53] gmuditdce commented on #21
@MaNe2020  @GINAGC  Raised PR https://github.com/filetrust/cdr-plugin-folder-to-folder/pull/366 for this-

![Screenshot from 2021-05-18 17-22-18](https://user-images.githubusercontent.com/71660612/118646386-c2ef3e80-b7fd-11eb-912a-d99b28c2af2d.png)

[2021-05-18 17:23] GINAGC commented on #1
@pranaysahith yes, lets do that please.

[2021-05-18 17:45] pranaysahith commented on #1
@MaNe2020 @GINAGC  could you please ask Dinis to add the secret `SSH_PASSWORD` with a strong password?

[2021-05-18 17:55] kekesimarti commented on #1
@DinisCruz FYI

[2021-05-18 18:21] kekesimarti commented on #23
It's a duplicate. I'm closing it.

[2021-05-18 18:21] #23 closed

[2021-05-18 18:29] #25 closed

[2021-05-19 05:54] MaNe2020 opened #29 "Not able to assign IPs"
With the current release (v0.6.4) not able to assign any IPs that are not related to lambda function.
This is blocker issue and basic functionality.

Ability to assign any GW SDK IP should be always present.

[2021-05-19 05:58] MaNe2020 opened #30 "Renaming or expending processing status config"
Currently we have
![image (1)](https://user-images.githubusercontent.com/70108899/118763124-97a93580-b877-11eb-9680-7861ec0abc2d.png)

That shows difference between files_copied and files_to_process
This difference is due to duplicate files and folders present so duplicate files and folders (or anything else that is not being the part of the processing) should be added as value.

Existing names ca

[2021-05-19 06:28] ggrig commented on #29
@MaNe2020
Please add steps to replicate the issue

[2021-05-19 07:12] MaNe2020 commented on #29
@ggrig
1. Navigate to setIPs and enter IP that is not one of the IPs you can load from AWS
2. Go to Workflow and clera, load and start processing data from specific folder

After step 1, IPs you entered are being assigned
After step 2, IPs that are assign are not used, rather the one that are loaded from AWS

[2021-05-19 09:23] ggrig commented on #29
As discussed with @MaNe2020, this comes from the utilization of dynamic IPs in the version under test
The version in the develop branch has utilization of dynamic IPs optional (USE_DYNAMIC_ENDPOINTS option in .env) which by default is set to 'False'
The fix is available starting from the version labeled "v0.7.2"

[2021-05-19 10:23] samarthdd commented on #29
@MaNe2020 I can confirm that this is fixed in develop branch

[2021-05-19 10:27] samarthdd commented on #24
@MaNe2020 can you retest this from develop branch

[2021-05-19 10:34] samarthdd opened #31 "elastic duplicate indexes exists after deleting"
We can see duplicate indexes present after deleting

Issue with relaod_metadata_elastic

[2021-05-19 13:09] asloman commented on #26
<b>Posted By: Jamie Pool</b> <br/> <p>Already closed</p>

[2021-05-19 13:16] asloman commented on #23
<b>Posted By: Jamie Pool</b> <br/> <p>Already Closed</p>

[2021-05-19 13:16] asloman commented on #25
<b>Posted By: Jamie Pool</b> <br/> <p>Already Closed</p>

[2021-05-19 13:18] asloman commented on #22
<b>Posted By: Jamie Pool</b> <br/> <p>Already Closed</p>

[2021-05-19 13:21] asloman commented on #19
<b>Posted By: Jamie Pool</b> <br/> <p>Already Closed</p>

[2021-05-19 13:36] dpatel7 opened #32 "Test Spira Test Sync"
Test Desc
![image](https://user-images.githubusercontent.com/61416876/118821856-8aa83880-b8af-11eb-99f0-8b33cc5fc19b.png)

[2021-05-19 13:46] asloman commented on #26
<b>Posted By: Jamie Pool</b> <br/> <p>Already Closed</p>

[2021-05-20 08:08] MaNe2020 commented on #21
@kekesimarti @gmuditdce I tested this on latest code from develop branch.
This is now fixed. Page (Servers>Jupyter) is displayed correctly and links from the page are accessible and once clicked opened in new tab.

We can move this ticket in corresponding state.

[2021-05-20 08:16] #21 closed

[2021-05-20 08:16] MaNe2020 opened #33 "Dashboards list not loaded on VM initial startup"
Kibana Dashboards not loaded.
Steps to reproduce:
1. Deploy CDR Plugin
2. Navigate to Workflow/folder-to-folder
3. Verify Kibana Dashboards display

After step 3, list of Kibana Dashboards avl should be shown.
Instead there is "Create new Dashboard" interface.

List of Dashboards should be avl from the start.

[2021-05-20 08:17] MaNe2020 commented on #24
@samarthdd will test it out but at the moment I opened this issue: https://github.com/filetrust/cdr-plugin-folder-to-folder-bugs/issues/33
and this one can probably interfere with testing this correctly.

[2021-05-20 08:43] MaNe2020 opened #34 "Ability to have list of all previous processings"
At the moment we can have as many processings as we want
but we do not have history of previous ones and when they happened.

This would be really useful for further investigating, debugging and solely for history of processing.
It can be simple list, containing what wet of files was processed and date (for now).

[2021-05-20 10:42] MaNe2020 opened #35 "Parsing error.json"
We should have ability to see/parse all errors from error.json
This is now manual process but we should add functionality that will parse and display all errors from error.json

[2021-05-20 12:26] kekesimarti opened #36 "Crashed main loop"
1. Who reported the bug: Dinis
2. More context of the bug: This happened when there were no valid endpoints
3. Proofs of the bug:
![image.png](https://images.zenhubusercontent.com/6033d6c0a356dc6005080557/3ff875aa-4682-4085-a63f-8588f3206792)

![image.png](https://images.zenhubusercontent.com/6033d6c0a356dc6005080557/93f3ac05-6465-4ba6-b4f7-1b78583ec43c)

![image.png](https://images.zenhubusercont

[2021-05-20 12:38] kekesimarti commented on #29
@GINAGC I moved it to the 'For release' column.

[2021-05-20 14:38] jpoolGW opened #37 "Running test set jp-test causes crash in workflow cluster"
**Repro Steps:**
- Access workflow UI
- Check IPs are correctly set
- Navigate to f2f workflow
- Set base directory to desired test set
- Ensure any existing data is cleared
- Load files for testing
- Once files have loaded click 'Start Processing'

**Expected Result:**
- Workflow cluster should send all files in data set to sdk cluster for processing

**Actual Result:**
- Workflow cluster starts

[2021-05-21 07:44] MaNe2020 opened #38 "Start processing is loading files even if files have been loaded"
Previously the flow (from Hugo) was CLEAR, LOAD and START. As files have been loaded pressing START will start the processing.
From v0.6.4, pressing START will again LOAD or set files to initial state.

So or LOAD is not needed anymore or `start processing` is implemented incorrectly

[2021-05-21 10:04] ggrig commented on #36
This has been fixed in https://github.com/filetrust/cdr-plugin-folder-to-folder/pull/399

[2021-05-21 12:33] MaNe2020 commented on #5
This one is fixed and it is duplicated to another verified ticket. Will close it.

[2021-05-21 12:33] #5 closed

[2021-05-21 12:39] MaNe2020 commented on #10
This seems to be working.
![image](https://user-images.githubusercontent.com/70108899/119138557-4ac58a80-ba42-11eb-9a95-90beaa20a3b4.png)

In general it can happened that indexes are not loaded correctly. In that case best is to do `docker-compose down` and `docker-compose up --build --force`

Will close this one as I cannot reproduce it.

[2021-05-21 12:39] #10 closed

[2021-05-21 12:42] MaNe2020 commented on #18
This is an easy fix that just needs to open Swagger page on `localhost:port` instead of `localhost:port/docs`

[2021-05-21 12:43] MaNe2020 commented on #24
This one is tested as part of another issue. It is fixed so will close this one.

[2021-05-21 12:43] #24 closed

[2021-05-21 14:15] MaNe2020 commented on #11
Cannot reproduce this one but it can happen due to indexes not being loaded.

[2021-05-21 14:19] MaNe2020 commented on #20
Will close this one as I am not able to reproducer it.
@ggrig if this happens again pls add exact steps.

[2021-05-21 14:24] #29 closed

[2021-05-22 14:33] DinisCruz commented on #37
@jpoolGW can you try to create the smallest data set that reliable replicates the issue?

[2021-05-24 16:29] #30 closed

[2021-05-26 09:44] MaNe2020 opened #39 "Renaming file status"
`the file type is not currently supported`   --->   `file type not supported`
`unable to clean file`                                  --->   `failed to rebuild`
`the original file has been cleaned`           --->    `rebuild successfully`
`the original file was cleaned`                   --->     `original file is safe`

@dpatel7 pls check this naming

[2021-05-26 09:49] dpatel7 commented on #39
@MaNe2020 Look good

[2021-05-27 05:05] ggrig commented on #38
@MaNe2020
At that time some recalculations were introduced to make sure that the rebuild process starts with correct counters
This has been optimized in v0.8.6 so the issue must be resolved there

[2021-05-27 12:10] #27 closed

[2021-05-27 12:11] #36 closed

[2021-05-28 10:15] kekesimarti commented on #31
Duplicated issue.

[2021-05-28 10:15] #31 closed

[2021-05-28 10:19] kekesimarti commented on #20
I'm reopening this as we found a way to reproduce and found it again in v0.8.8

[2021-05-28 11:12] dpatel7 opened #40 "Wrong Version Number appearing in health check"
Repro Step

- Navigate to https://github.com/filetrust/cdr-plugin-folder-to-folder/runs/2684909979?check_suite_focus=true to get the version number  which is v.0.8.8
![image](https://user-images.githubusercontent.com/61416876/119974964-371fa400-bfad-11eb-8a22-065c24cd100e.png)
- Navigate to https://github.com/filetrust/cdr-plugin-folder-to-folder/actions/runs/882261324 to get the latest AMI ID for

[2021-05-28 11:47] MaNe2020 commented on #38
Duplicate of: https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/405

[2021-05-31 11:42] MaNe2020 opened #41 "If no valid IPs are avl add message in output on START processing"
When there is no valid IPs to be set dynamically and no IPs is set manually,
on START processing add message to output folder saying "no GW SDK IPs avl to start processing, please make sure IPs are set", or smth along these lines.

Issue is connected to: https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/408

[2021-05-31 11:52] GINAGC commented on #1
Password updated, please check.

[2021-05-31 11:58] MaNe2020 opened #42 "If data from previous run are not cleaned it will stay on the Dashboard"
1. Process any of the scenarios
2. Once processing is done set different scenario as base dir and start processing the files from there
3. Verify the data on the Dashboard

Data from step 1 are still going to be displayed on the Dashboard.
Total number of files will be sum of the files from both scenarios/directories.
If timeframe is changed (both runs are done with some time in between) some part

[2021-05-31 13:23] MaNe2020 commented on #1
@GINAGC run git actions: https://github.com/filetrust/cdr-plugin-folder-to-folder/runs/2710505338?check_suite_focus=true and tested on that new AMI.
Password seems to be the same as before.
Let me know if this should be tested somewhat differently

[2021-06-02 12:12] MaNe2020 commented on #39
This is done.

[2021-06-02 17:58] GINAGC commented on #1
@MaNe2020 please test and close after testing.

[2021-06-02 17:59] #8 closed

[2021-06-02 17:59] #38 closed

[2021-06-02 17:59] #39 closed

[2021-06-02 20:29] MaNe2020 commented on #1
@pranaysahith pls add new pass to passbolt and share.
I just deployed new AMI. Password is changed but I do not know what is the new one.

[2021-06-03 10:29] MaNe2020 opened #43 "API for GW SDK version not avl"
Previously we had code that was enabling us to see GW SDK version for IPs against witch we are running test.

I am not able to find this on swagger and have no data how to use it.

Code is still there:
https://github.com/filetrust/cdr-plugin-folder-to-folder/blob/develop/cdr_plugin_folder_to_folder/processing/File_Processing.py
 under `get_server_version` method

Functionality should be enabled an

[2021-06-03 14:39] MaNe2020 commented on #1
Password is added and shared with the team.
As this is already part of the release and new AMI, will close it.

[2021-06-03 14:39] #1 closed

[2021-06-03 14:52] dpatel7 opened #44 "INC-1 - can't ssh to VM exported by ci/cd"
## Incident Response Team:

**Incident First Responder -** Maria
**Incident Manager-**
**Incident communicator/reporter-**

## Tasks:

- [ ] T1. Assign Incident Response Team Roles
- [ ] T2. Start Slack Channel with Incident Name and mobilise team<br>
- [ ] T3. Determine incident severity (see table)
- [ ] T4. Open a Github incident issue<br>
- [ ] T5. Identify immediate steps to prevent further h

[2021-06-04 15:23] MaNe2020 opened #45 "change Glasswall logo on top left of the UI"
Change color of the logo or add CDR Platform name.
Not sure what is the end product name but that left corner should be changed to smth else

@GINAGC what is the final name of CDR Plugin?

[2021-06-06 20:45] MaNe2020 opened #46 "All not supported files are not marked on the first processing"
1. Run files processing (ex. govUk dataset)
2. After processing is done, do the retry workflow (run it again)

All not supported files should be detected and marked as such after the step 1.
But it happens that during the retry, they keep being detected.

Below are the screenshots of 6 runs of govUk dataset. The runs 2-6 are all retries.
Number of `not supported files` goes from 333 in first run t

[2021-06-07 06:15] ggrig commented on #13
@GINAGC
This is about consuming Kubernetes metrics from cdr-plugin
However, we do not currently run it in Kubernetes. It still is docker-compose
So we probably should consider this as collecting docker metrics with Prometheus (as per https://docs.docker.com/config/daemon/prometheus/). That currently is implemented with metrics API on the swagger page.

[2021-06-07 09:11] #32 closed

[2021-06-07 10:14] #13 closed

[2021-06-07 10:29] #34 closed

[2021-06-07 10:29] chrisdiao commented on #34
Issue moved to [filetrust/cdr-plugin-folder-to-folder #469](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/469) via [**ZenHub**](https://www.zenhub.com/)

[2021-06-07 11:06] samarthdd opened #48 "add more fields in metadata.json and errors.json"
- file-id
- http response headers for error files

[2021-06-07 17:21] samarthdd opened #50 "INC-2- Minio go sdk connection refused error/RabbitMQ issue when run with more threads from CDR f2f"
Incident Response Team:

Incident First Responder - Samarth
Incident Manager-
Incident communicator/reporter-

## Tasks:

- [ ] T1. Assign Incident Response Team Roles
- [ ] T2. Start Slack Channel with Incident Name and mobilise team<br>
- [ ] T3. Determine incident severity (see table)
- [ ] T4. Open a Github incident issue<br>
- [ ] T5. Identify immediate steps to prevent further harm to the Gl

[2021-06-07 19:30] samarthdd commented on #50
we had one session on friday and today for minio-sdk troubleshooting and fixing.

Friday we had issues in processing queue and it is fixed today ( after srv ).

Today we saw adaptation queue failure/connection refused error when we use 50 threads or more ( before srv )

Later after troubleshooting with Himamshu Mahmoud and Haitham, found out that on putting more threads, proxy-rest-api
crashes /re

[2021-06-08 06:39] MaNe2020 commented on #44
@dpatel7 what actions should we take on this one?

[2021-06-08 06:42] MaNe2020 commented on #28
Duplicate with this one: https://github.com/filetrust/cdr-plugin-folder-to-folder-bugs/issues/46
But as #46 has more details I will close this one.

[2021-06-08 06:42] #28 closed

[2021-06-08 07:01] MaNe2020 commented on #11
This is valid issue but not sure about exact steps to reproduce it.
I had scenario-1000 processed and set scenario-2000 as default, set IPs and load data. On loading data dashboard stayed empty.

[2021-06-08 07:04] MaNe2020 commented on #20
It is needed, whoever finds this to add exact steps!
Without step we cannot do verification/fix on this.

[2021-06-08 08:34] dpatel7 commented on #44
@MaNe2020 start filling the answer to above question

[2021-06-08 08:41] dpatel7 opened #51 "INC-3 wrong cloud SDK version is deployed on lab.glasswall"
# Sample Incidents Playbook

<br>

## Incident Response Team:

**Incident First Responder -** Georgina

**Incident Manager-**

**Incident communicator/reporter-**

**Scope:**

To be used in the event of a infrastructure or service failure or response.

**Incident Response Team:**

***Incident First Responder***

-   Is whoever from the Glasswall information Security and IT Support Squad gets notif

[2021-06-08 08:44] dpatel7 commented on #51
comment from @GINAGC

Incident reported:
Issue 1: If I go to the https://labs.glasswallsolutions.com:8080/swagger/index.html
Scroll to the bottom select GET - /api/detail/version
I get this result:
access-control-allow-headers: *
access-control-allow-origin: *
access-control-expose-headers: *
content-type: application/json; charset=utf-8
date: Tue,08 Jun 2021 01:43:05 GMT
server: Kestrel
via: prox

[2021-06-08 11:13] dpatel7 commented on #44
@MaNe2020 can you manage above incidence and start answering the question?

[2021-06-08 11:14] dpatel7 commented on #50
@samarthdd can you add yourself as a incident manager for this incident and start answering the question above and check them once is done

[2021-06-08 11:15] dpatel7 commented on #51
@GINAGC who do you think best for managing this incident?

[2021-06-08 22:53] MaNe2020 commented on #44
Q1. CDR F2F v0.8.8
 Q2. Cannot ssh/login to CDR Plugin
 Q3. VM password not set/shared correctly
 Q4. -
 Q5. Business continuity is ensured
 Q6. No at that moment.
 Q7. Document the process of setting the strong password on gitHub and name main stakeholders.
 Q8. There was immediate fix and bug was not created.
 Q9. Password was recreated and issue was resolved.

@dpatel7 what should be next step?

[2021-06-09 09:28] MaNe2020 opened #53 "Expose setting a # threads for preprocessing in UI"
Expose to UI work done here: https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/272

Basically have feature that enables on UI running API: `/pre-processor/pre-process` and setting number of threads
I think that is expending the work of LOAD button

[2021-06-09 12:53] samarthdd opened #54 "INC-4 x-adaptation-file-id error during file processing"
# Sample Incidents Playbook

<br>

## Incident Response Team:

**Incident First Responder -** Samarth

**Incident Manager-**

**Incident communicator/reporter-**

**Scope:**

To be used in the event of a infrastructure or service failure or response.

**Incident Response Team:**

***Incident First Responder***

-   Is whoever from the Glasswall information Security and IT Support Squad gets notifi

[2021-06-09 12:54] samarthdd commented on #54
Refer this:

https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/454

[2021-06-10 07:10] samarthdd opened #56 "Allow to enter port in Hugo set IP page"
Here in Hugo there should be option to enter port as well, since now port is changed to 80/443

<img width="1436" alt="Screenshot 2021-06-10 at 12 37 40 PM" src="https://user-images.githubusercontent.com/64204445/121480700-f716e300-c9e8-11eb-985c-eb7f9b7b153d.png">

[2021-06-10 12:40] MaNe2020 commented on #44
@chrisdiao this incident can be assigned further on to incident manager.
All actions from my side are done.

[2021-06-10 14:23] chrisdiao commented on #40
This is already fixed in https://github.com/filetrust/cdr-plugin-folder-to-folder/pull/465

[2021-06-10 14:27] #40 closed

[2021-06-11 11:45] MaNe2020 opened #57 "INC-5: GitHub Actions broken pipeline"
## Questions:

- [X] Q1. Note Version details for Application under investigation: **CDR Plugin v0.10.0**<br>
- [X] Q2. What is the impact? **Cannot build AMI/OVA for the release**<br>
- [X] Q3. What caused the outage? **Broken shell script**<br>
- [X] Q4. What company asset(s) are involved? **/**<br>
- [X] Q5. Is business continuity ensured and if not, how do we enable it ASAP? **Business continu

[2021-06-14 08:15] chrisdiao commented on #56
@MaNe2020 @dpatel7 , could you please confirm if this is tested?

[2021-06-14 08:20] ggrig opened #58 "Running pre-processor twice without a clean up results wrong counters in Status.json"
@ggrig commented on [Mon Jun 14 2021](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/496)

Expected result: the counters should not change if no file is added
Actual result: "files_copied" and "duplicate_files" get increased every time pre-processing is run without adding new files to HD1

![image](https://user-images.githubusercontent.com/26714598/121860787-42dbcc00-cd0a-11eb-9fc

[2021-06-14 10:00] MaNe2020 commented on #56
@samarthdd @chrisdiao I can verify that new field is added
![image](https://user-images.githubusercontent.com/70108899/121874537-baf4c280-cd07-11eb-9500-d126b962c0f8.png)

But I am not sure about functionality.
If I set 443 port to existing IP it will not be added.
So it looks like port is automatically pulled or additional configuration is needed
![image](https://user-images.githubusercontent.com

[2021-06-14 10:08] kekesimarti commented on #58
@ggrig Please include a unit test and an integration test. Also, please include a few notes for the QA team. Thank you.

[2021-06-14 10:20] samarthdd commented on #56
@MaNe2020
The port is nothing but GW SDK port
Before it was 8080. Now it is 80 ( it will be 443 later when DNS and cert is configured )

[2021-06-14 10:36] kekesimarti commented on #56
@samarthdd please add a step-by-step tutorial on how to test it.

[2021-06-14 11:42] michaelhidalgo commented on #51
Hi @GINAGC, which resource is most appropriate to work on this?

[2021-06-14 11:48] michaelhidalgo commented on #44
Hey folks, I have two follow up questions to understand the context of the issue:

- Is SSH access required after all?
- If so,  who manages the SSH key or is it username/password-based?
- If so, how are we sharing the ssh key?
- where is it stored?

[2021-06-14 11:59] samarthdd commented on #56
ok This feature is added because previously gw cloud sdk was listening to 8080 port. Now it is changed to port 80/443

Step to configure

1. Make sure your gw cloud sdk is working either from swagger UI  of sdk or from Postman
As you can see, IP is 54.216.188.250 and port is 80 here ( since its http )

<img width="1440" alt="Screenshot 2021-06-14 at 5 20 41 PM" src="https://user-images.githubuserc

[2021-06-14 13:01] ggrig commented on #58
Unit test has been added to the PR
Integration test will be added to https://github.com/filetrust/cdr-plugin-f2f-automation-tests with a different PR

[2021-06-14 15:49] ggrig commented on #48
This has been partially done within https://github.com/filetrust/cdr-plugin-folder-to-folder/pull/481

[2021-06-14 20:08] samarthdd commented on #50
@dpatel7
Here is the summary.

the issue was happening in request processing queue since a new queue was creating everytime a request made and due to high traffic in minio-sdk, the queue was breaking

Now currently it is modified only one queue and this issue is resolved in version 0.2.0 ( cs-k8s-api ) onwards

Now we are seeing one more issue/ scenario when run with 50+ threads.

This is mainly d

[2021-06-14 20:11] samarthdd commented on #50
In summary,

the RabbitMq issue is resolved now

We have resource limitation now. It is also necessary to fine tune the solution to work with limited resource.

[2021-06-15 08:49] chrisdiao commented on #56
@MaNe2020 , could you please check if the said information is enough?

[2021-06-15 10:00] #53 closed

[2021-06-15 10:00] kekesimarti commented on #53
Issue moved to [filetrust/cdr-plugin-folder-to-folder #500](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/500) via [**ZenHub**](https://www.zenhub.com/)

[2021-06-15 10:12] MaNe2020 commented on #56
@samarthdd @ggrig for me it looks like there is some place that 8080 port is encoded and I cannot change it.
Also @nishantswarup this part has to be added to new UI.

[2021-06-15 10:49] MaNe2020 commented on #44
Hi @michaelhidalgo

- ssh is required as we cannot access Plugin directly with IP:PORT and we need to forward the ports
- it is password based (no keys) and passwords are based on git hub secrets, created by admin and shared
- password is stored in passbolt

[2021-06-15 17:40] MaNe2020 commented on #56
This is removed from this release as fix is needed.
Previous merge is reverted.
@chrisdiao pls assign to dev. I will move it to inProgress.

[2021-06-15 17:49] MaNe2020 commented on #57
AMI was successfully build on develop: https://github.com/filetrust/cdr-plugin-folder-to-folder/runs/2831739023?check_suite_focus=true

@chrisdiao I would like to verify this on main also after the release. So would not close it still, maybe just mark it "For Release".

[2021-06-16 10:57] MaNe2020 opened #59 "Minio Server not avl on 0.10.5"
1. Spin CDR Plugin VM (or start it from local)
2. Navigate to Minio (localhost:9000 or localhost:<PORT FORWARD>)

Minio is not accessible after step 2

[2021-06-17 12:25] chrisdiao commented on #59
fixed in [here](https://github.com/filetrust/cdr-plugin-folder-to-folder/pull/517)

[2021-06-17 12:41] chrisdiao commented on #57
this has been included in the released

[2021-06-17 12:41] #57 closed

[2021-06-18 14:28] MaNe2020 opened #60 "Cannot set goland SDK IP in CDR"
Scenario 1
1. Access CDR Plugin
2. Set base dir
3. Navigate to set IPs, and enter manually golang SDK IP
Scenario 2
1. Navigate to CDR Plugin Swagger page
2. Execute API `/configuration/configure_gw_sdk_endpoints/` and provide golang SDK IP with port 80

Expected results: After step 3 in scenario 3, and step 2 in scenario 2, goland SDK IP is set correctly
Actual result: Not able to set SDK IP.
In

[2021-06-18 14:42] MaNe2020 commented on #60
Here is the video of the issue: https://www.loom.com/share/06645eb54bf6485a979255a135c4a483

[2021-06-18 15:56] MaNe2020 commented on #59
This is fixed with latest changes from develop.

[2021-06-18 15:58] MaNe2020 opened #61 "API for CDR Plugin version returns empty string"
1. Deploy CDR
2. Navigate to Swager
3. Go to /version API and execute

After step 3 empty CDR Plugin version is return instead of corresponding build.
![image](https://user-images.githubusercontent.com/70108899/122587896-b2c9b980-d05e-11eb-94c7-78411a86c5e5.png)

This error is also present during `docker-compose up` as it notifies that CDR Plugin version is not avl and that empty string will be us

[2021-06-18 16:21] gmuditdce commented on #60
@MaNe2020 @GINAGC issue is the ports being tried above are all blocked for access from the machine running f2f.
@samarthdd has opened 8080 (where the rebuild sdk is running) for public use
@MaNe2020 can try now it should work ok.

[2021-06-19 17:52] MaNe2020 commented on #60
The issue was due to wrong port permissions.
It is resolved and I will close it.

[2021-06-19 17:52] #60 closed

[2021-06-19 18:16] MaNe2020 opened #62 "React UI does not allow setting any other scenario except of default ones"
1. Access CDR UI
2. Navigate to Workflow
3. Try to set custom scenario for base dir

After step 4, no scenarios can be set as base dir except sceanrio-1 and scenario2.

The logic for having drop down, was to give user opportunity to see what scenarios are avl in test_data folder.

Recommendation for fixing this:

- Have box where any path can be added and set as base dir
- Have drop down with full

[2021-06-20 06:02] nishantswarup commented on #62
@MaNe2020 @chrisdiao
1. Have a box where any path can be added and set as base dir
the issue is already there and in progress.
2. Have drop down with a full list of folders from test_data dir (not just default ones)
Ned an API to populate this.  Have already communicated in the channel to stakeholders.

[2021-06-21 13:37] samarthdd commented on #50
Here is the manual steps required to resolve this issue for 50 threads

https://docs.google.com/document/d/1pKE9TO_iJjq1yINhVnOIBsbXFjUV2W9H56Ni130wgSo

This will be automated in next release

[2021-06-21 13:41] samarthdd commented on #51
this is resolved in latest AMIs

<img width="1430" alt="Screenshot 2021-06-21 at 7 08 57 PM" src="https://user-images.githubusercontent.com/64204445/122771797-64b5ef80-d2c4-11eb-8bf0-70b57d45ff73.png">

[2021-06-22 21:41] MaNe2020 opened #63 "On docker pull not able to load Kibana dashboard"
With latest v0.11.5 cannot load Kibana dashboard after docker pull.
- Have CDR plugin VM running some time
- Do: `docker-compose down`
- `git pull origin develop`
- Do: `docker-compose up --build --force`

After accessing UI dashboard is not loaded.
Also on manually try to upload the dashboard getting:
![dashboard](https://user-images.githubusercontent.com/70108899/123003013-e1bf9280-d3b2-11eb-883

[2021-06-23 11:54] MaNe2020 opened #64 "F2F is dumping *.log and *.xml files with extra *.txt on the end"
For more details refer to: https://github.com/filetrust/sdk-rebuild-eval/issues/8

[2021-06-23 14:58] #59 closed

[2021-06-23 14:59] chrisdiao commented on #59
This has been included in release v0.12.0

[2021-06-24 10:59] chrisdiao opened #65 "Seems the data in the process/status API is not refreshing"

[2021-06-24 15:21] chrisdiao commented on #18
This has been included in v0.9.0 release

[2021-06-24 15:21] #18 closed

[2021-06-25 09:28] MaNe2020 commented on #62
There are 2 options now:
- Scenario which will list folders in test_data repo
- Custom which gives option for setting custom path
- Moving for release

[2021-06-25 09:32] chrisdiao commented on #37
@MaNe2020 @dpatel7, could you please review and confirm if this is still happening?

[2021-06-25 09:53] MaNe2020 opened #66 "[New UI] Custom path, HD2 and HD3 names not in correct position"
![image](https://user-images.githubusercontent.com/70108899/123407201-f915a000-d5ab-11eb-926d-d57c95a6fcb0.png)

[2021-06-25 09:59] MaNe2020 commented on #37
@chrisdiao last time I checked it did not happen, let me verify one more time today and if it is not happening I will go ahead and close it.

[2021-06-25 10:02] chrisdiao commented on #37
Thaank you @MaNe2020 !

[2021-06-28 09:58] MaNe2020 commented on #58
This is working as expected now:
![image](https://user-images.githubusercontent.com/70108899/123618111-2d859800-d808-11eb-9a0e-75d4eab0dd80.png)
Moving it for Release

[2021-06-28 10:15] MaNe2020 commented on #37
@chrisdiao this is no longer an issue. I will close it.
Tested on CDR Plugin v0.12.5

[2021-06-28 10:16] #37 closed

[2021-06-28 10:19] MaNe2020 commented on #56
@chrisdiao I think this is done even in this release.
But can we use this issue to set 80 as default port instead 8080.

[2021-06-29 09:01] chrisdiao opened #67 "Root folder issue"
F2F Plugin returns root_folder with scenario name from the backend and hence UI cannot dynamically build the folder list. F2F Plugin should return the base directory as the root folder so that UI can use that information instead of hardcoding that information

[2021-06-29 14:46] chrisdiao commented on #58
This has been included in v0.13.0 release

[2021-06-29 14:46] #58 closed

[2021-06-29 15:21] chrisdiao commented on #56
This has been included in the v0.12.0 release

[2021-06-29 15:21] #56 closed

[2021-06-30 06:58] MaNe2020 commented on #33
@chrisdiao this one should have highest priority and should be fixed ASAP.

[2021-06-30 07:00] MaNe2020 commented on #12
@dpatel7 can you pls comment on this one. Is this still something we want to support and if so what should be the priority of that?
@chrisdiao FYI
Changed it to P2 for now

[2021-06-30 07:00] MaNe2020 commented on #46
@chrisdiao this should be fixed soon as, functionality wise should work from scratch.

[2021-06-30 07:01] MaNe2020 commented on #61
@chrisdiao this should be simple but very important fix. Leaving it as P1.

[2021-06-30 07:05] MaNe2020 commented on #43
I will close this one as this data is now avl in metadata.json

[2021-06-30 07:05] #43 closed

[2021-06-30 07:11] MaNe2020 commented on #11
I haven't seen this one for a while.
Will close it as we have other dashboard issues to work on. @chrisdiao

[2021-06-30 07:11] MaNe2020 commented on #35
This one is future improvement. It can stay as P2. @chrisdiao FYI

[2021-06-30 07:13] MaNe2020 commented on #64
This one is reported by GW team and should be fixed. I will leave it as P2, but should be tackled in next couple of weeks. @chrisdiao

[2021-06-30 07:14] MaNe2020 commented on #63
Isolated case, moving it to P3. @chrisdiao

[2021-06-30 07:15] MaNe2020 commented on #17
@GINAGC @samarthdd can you pls comment on this one. Should we change priority of this and move it to be implemented or it is not needed any more?

[2021-06-30 07:17] MaNe2020 commented on #44
We haven't done proper incident cycle with this one but it is fixed long ago and as an incident should be close.

[2021-06-30 07:17] #44 closed

[2021-06-30 07:18] MaNe2020 commented on #9
Will close this as a duplicate of https://github.com/filetrust/cdr-plugin-folder-to-folder-bugs/issues/12

[2021-06-30 07:18] #9 closed

[2021-06-30 07:23] MaNe2020 commented on #42
This should stay as P2 and once we have stable dashboard should be fixed afterwards. @chrisdiao

[2021-06-30 07:24] MaNe2020 commented on #7
Leaving this one as it is. @chrisdiao pls check with dev team as this is maybe fixed already. If not they can confirm how much it takes to do this one.

[2021-06-30 07:25] MaNe2020 commented on #15
With new UI this issue is no longer present. Closing it.

[2021-06-30 07:25] #15 closed

[2021-06-30 07:25] MaNe2020 commented on #14
With new UI changes this is somewhat implemented. All future improvements should be added separately.

[2021-06-30 07:28] MaNe2020 commented on #3
Will close this one as it is not an issue, more of a business logic.

[2021-06-30 07:28] #3 closed

[2021-06-30 07:31] MaNe2020 commented on #4
This is ready for release. Was done even on v0.13.0

[2021-06-30 07:31] MaNe2020 commented on #2
This is implemented on v0.13.0

[2021-06-30 07:32] MaNe2020 commented on #66
@nishantswarup pls check this one and if it is in any on PRs that are already done, leave a comment.

[2021-06-30 07:34] MaNe2020 commented on #45
Moving this one to P3. Would be nice to do, not essential, purely esthetic. @chrisdiao

[2021-06-30 07:35] MaNe2020 commented on #14
This is already done in v0.13.0. Moving it for release

[2021-06-30 07:36] MaNe2020 commented on #20
Will close this one as we have new UI in place. If similar happens will open new issue.

[2021-06-30 07:36] #20 closed

[2021-06-30 07:37] MaNe2020 commented on #41
Can stay as P2. @chrisdiao

[2021-06-30 07:39] MaNe2020 commented on #67
@rajmbcoderx pls comment is this is fixed. Will assign it to you.

[2021-06-30 07:39] MaNe2020 commented on #65
@chrisdiao not sure what is this about it needs more details.

[2021-06-30 07:41] MaNe2020 commented on #11
@dpatel7 pls leave the comment of how to reproduce this as you are reopening it.

[2021-06-30 09:22] chrisdiao commented on #4
@nishantswarup , could you please link the PR for this bug, please?

[2021-06-30 09:23] chrisdiao commented on #2
@nishantswarup , could you please link the PR for this bug, please?

[2021-06-30 09:25] chrisdiao commented on #14
@nishantswarup , could you please link the PR for this bug, please?

[2021-06-30 12:48] GINAGC commented on #51
This is resolved.

[2021-06-30 12:48] #51 closed

[2021-06-30 13:01] GINAGC commented on #46
@rajmbcoderx can you review this one too?

[2021-06-30 13:03] GINAGC commented on #33
@MaNe2020 do we have a workaround for this? is this a blocker? if yes, it should be P0

[2021-06-30 13:03] rajmbcoderx commented on #46
@GINAGC will look into this

[2021-06-30 13:05] rajmbcoderx commented on #67
@MaNe2020 I am still working on this issue. I should be able to close this issue by today.

[2021-06-30 13:29] rajmbcoderx commented on #46
@MaNe2020 : Do you have some sample files which were marked as unsupported and later were being processed properly?

and from where can I download the govuk files?

[2021-06-30 14:06] GINAGC commented on #17
this is not a high priority at the moment. So P3 is fine.

[2021-06-30 14:22] #4 closed

[2021-06-30 14:26] #14 closed

[2021-06-30 14:27] #2 closed

[2021-06-30 18:44] MaNe2020 commented on #33
We have a workaround. Dashboards can be imported manually.
Most of ppl doing testing does that, but it is not straight forward way for others.

[2021-06-30 18:47] MaNe2020 commented on #46
@rajmbcoderx basically any dataset.
Check here: https://github.com/k8-proxy/data-sets
For govUK:
- subset of 1000 files (that should be good to use as it can be executed in short period of time):  s3://cdr-plugin-test-files/1000
- govUk: https://k8-mass-download.s3.eu-west-2.amazonaws.com/gov_Files.zip

[2021-07-01 03:41] GINAGC commented on #33
Thank you @MaNe2020. Then this one should stay for July and we should try to solve it in sprint 1.

[2021-07-01 05:18] GINAGC commented on #50
this is done from latest release on minio version.

[2021-07-01 05:18] #50 closed

[2021-07-02 10:25] chrisdiao commented on #54
sdk v0.2.4

[2021-07-03 03:50] ggrig commented on #33
Here is how test_Dashboard.py works

![image](https://user-images.githubusercontent.com/26714598/124342191-3e9d2300-dbd3-11eb-85f6-bb589818a138.png)

The reason we pass it in GitHub actions is that the test gets skipped because of missing ES/Kibana deployment

[2021-07-05 08:12] samarthdd opened #68 "x-adaptation-file-id error"
x-adaptation-file-id error is coming from cdr f2f for some error cases from SDK

instead of x-adaptation-id error , we need to capture actual error throwing from sdk

[2021-07-05 09:50] MaNe2020 commented on #67
@chrisdiao @rajmbcoderx this one is still not fixed. Moving it to inProgress
![image](https://user-images.githubusercontent.com/70108899/124452963-2f5ed680-dd87-11eb-9ce9-9165ca26fad9.png)

[2021-07-05 13:38] MaNe2020 commented on #67
Retested after removing docker image. Works now.

[2021-07-06 06:20] ggrig opened #69 "AMI image should contain the latest version of test_data"
The data under cdr-plugin-folder-to-folder/test_data/ does not list kibana_dashboards

![image](https://user-images.githubusercontent.com/26714598/124551678-9215a800-de43-11eb-8ffb-528544374ca5.png)

while https://github.com/filetrust/cdr-plugin-folder-to-folder-test-data does

![image](https://user-images.githubusercontent.com/26714598/124551789-b5d8ee00-de43-11eb-886a-faf8cb1e5a9b.png)

[2021-07-06 09:10] #11 closed

[2021-07-06 12:20] samarthdd commented on #54
x-adaptation-file-id is coming from cdr f2f

Ecidence :

if it is from SDK, there should been an error.json created for it

We have checked same file in swagger and from cdr f2f, swagger shows timeout error or some different error but cdr f2f shows x-adaptation-file-id error

So this concludes, on higher threads, x-adaptation-file-id error comes from cdr f2f

[2021-07-06 12:53] chrisdiao opened #70 "F2F Plugin should be able to use public IP"

[2021-07-06 12:53] chrisdiao commented on #70
Issue moved to [filetrust/cdr-plugin-folder-to-folder #588](https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/588) via [**ZenHub**](https://www.zenhub.com/)

[2021-07-06 13:45] samarthdd commented on #54
So below is an example of this issue

- I ran same jp-test scenario with 1,10,50 and 100 with classic SDK

- The file processing dashboard looks same for all ( might be different if we run huge datasets )

- But error dashboard for 1, 10 , 50 is same and for 100, there is x-adaptation-file-id ( interesting thing is we have only 29 files and for 50 and 100 threads, errors are different )

- So this

[2021-07-06 16:36] chrisdiao commented on #67
This has been included in v0.14.0 release

[2021-07-06 16:36] #67 closed

[2021-07-07 07:51] chrisdiao commented on #70
@dpatel7 this is a duplicate to https://github.com/filetrust/cdr-plugin-folder-to-folder/issues/588. lets maintain 1 ticket.

[2021-07-07 07:51] #70 closed

[2021-07-07 09:43] chrisdiao commented on #61
This will be included in release v0.15.0 as @dpatel7 confirmed that is is working fine

[2021-07-09 05:53] ggrig commented on #54
Must be fixed with https://github.com/filetrust/cdr-plugin-folder-to-folder/pull/594

[2021-07-12 10:05] ggrig commented on #6
Not clear if this still is an issue and what are the steps to reproduce it
Asked @MaNe2020 for details

[2021-07-13 11:31] MaNe2020 commented on #69
New AMI has latest version of test_data
![image](https://user-images.githubusercontent.com/70108899/125444668-1f51a858-052b-4e54-9786-b2cf4b090fbd.png)
Moving for release

[2021-07-13 11:34] MaNe2020 commented on #33
Dashboards are now loaded on startup.
@ggrig amazing job. Thanks for finally fixing this.
Moving for release.

[2021-07-13 12:37] Lestat06 opened #71 "INC-7- F2F does not connect with instances from develop branch"
Incident Response Team:
Incident First Responder - Jurgen

Incident Manager-

Incident communicator/reporter-

Scope:

To be used in the event of a infrastructure or service failure or response.

Incident Response Team:

Incident First Responder

Whoever from the team that notices the incident

Does immediate necessary steps to prevent further breach or exploitation of affected assets (or if neces

[2021-07-13 12:40] Lestat06 commented on #71
![image (1)](https://user-images.githubusercontent.com/6232283/125452778-ddf66d98-b9cd-4f48-8ccd-e75e34357411.png)
![image](https://user-images.githubusercontent.com/6232283/125452802-ac6bb435-72be-48a0-a140-b30c9dd9b3a3.png)

[2021-07-13 13:16] Lestat06 commented on #71
This needs to be checked also from SDK part for regression since latest versions from main branch work fine and can connect with F2f with all versions

[2021-07-14 07:51] chrisdiao commented on #54
@MaNe2020 , could you provide progress on this, please?

[2021-07-14 11:36] MaNe2020 opened #72 "INC-8- Minio not working on latest from develop"
Spin CDR Plugin VM (or start it from local)
Navigate to Minio (localhost:9000 or localhost:)
Minio is not accessible after step 2

- [X] Q1. Note Version details for Application under investigation: **CDR Plugin v0.14.7**<br>
- [X] Q2. What is the impact? **Cannot access Minio**<br>
- [X] Q3. What caused the outage? **Minio port not accessible**<br>
- [X] Q4. What company asset(s) are involved? **

[2021-07-14 17:15] dpatel7 commented on #72
@ggrig I can see when we try and access the minio is redirecting to different port. I will review above PR with old image tag

[2021-07-15 04:17] rajmbcoderx commented on #7
@chrisdiao / @MaNe2020 This issue has already been fixed. This ticket should be closed.

[2021-07-15 04:17] #7 closed

[2021-07-15 09:17] MaNe2020 commented on #72
This has been fixed. @ggrig thanks for taking care of this in short time.

[2021-07-15 10:41] MaNe2020 commented on #54
@ggrig can you pls comment on how this is handled now?
I am getting 400 bad request but that does not have much sense also.

[2021-07-15 10:43] GINAGC commented on #71
This will be fixed as part of https://github.com/k8-proxy/cs-k8s-api/issues/372

[2021-07-16 08:31] ggrig commented on #54
@MaNe2020
The latest change allows getting the exact errors that come from the server
So, the error is what the server responses
Could you please share the server location / IP address?

[2021-07-16 10:13] GINAGC commented on #6
Assigning to @MaNe2020 to provide more information.

[2021-07-16 10:14] rajmbcoderx commented on #46
@MaNe2020 Can you please check again on this issue?

[2021-07-16 11:46] MaNe2020 opened #73 "Kibana Dashboard Widgets not loaded"
CDR Plugin version: v0.15.0

Steps:
1. Deploy lates CDR AMI
2. SSH to VM
3. Process some scenarios (load/start/stop/start/start...)
4. Check if widgets are loaded

[2021-07-16 11:49] MaNe2020 opened #74 "kibana_dashboard folder should be moved from test_data"
CDR version: v0.15.0
As of now scenarios can be loaded via drop down which populates fields from test_data folder.
As kibana_dashboards are present in the same folder they will get loaded, even if they are not real scenario.

There path should be changed.
![image](https://user-images.githubusercontent.com/70108899/125943021-738996ef-cc3f-4ab5-9907-e57e03c37837.png)

[2021-07-16 12:03] MaNe2020 commented on #54
@ggrig I will move this one for Release as I was getting 502 (which is valid response from server), instead of x-adaption-header err.

[2021-07-16 12:59] MaNe2020 commented on #46
@rajmbcoderx I think the issue here is that if SDK fails during the processing it will marked files as failed (as it was not able to process them). It is not related to flags, as if SDK is not working everything will be failed.
And the issue is probably happen for large dataset.
Not sure if we can say this is issue at all.
Will close it

[2021-07-16 12:59] #46 closed

[2021-07-19 11:22] MaNe2020 commented on #6
@ggrig this logic is different with the new UI.
I will close this one and in case smth similar appear will open new issue.

[2021-07-19 11:22] #6 closed

[2021-07-21 09:33] aghapygad336 opened #75 "SETTING IPS"
![image](https://user-images.githubusercontent.com/46167070/126466647-a9479198-de54-466d-8ddf-ef954f0b8b4d.png)

machine it takes alot of time for loading ips from AWS , may i know what's the issue behind it ?

[2021-07-21 10:29] MaNe2020 opened #76 "INC-9- Building AMI from main v0.15.0 is failing"
Run URL: https://github.com/filetrust/cdr-plugin-folder-to-folder/runs/3122319262?check_suite_focus=true
![image](https://user-images.githubusercontent.com/70108899/126474506-72a38748-0fdb-440e-9891-525491f880ce.png)

- [X] Q1. Note Version details for Application under investigation: **CDR Plugin v0.15.0**<br>
- [X] Q2. What is the impact? **Cannot build new AMI from main**<br>
- [X] Q3. What cau

[2021-07-21 12:49] chrisdiao commented on #72
Included this on v0.15.0 release

[2021-07-21 12:49] #72 closed

[2021-07-21 12:49] chrisdiao commented on #33
Included this on v0.15.0 release

[2021-07-21 12:49] #33 closed

[2021-07-21 12:51] chrisdiao commented on #54
Included this on v0.15.0 release

[2021-07-21 12:51] #54 closed

[2021-07-21 12:51] chrisdiao commented on #69
Included this on v0.15.0 release

[2021-07-21 12:51] #69 closed

[2021-07-21 12:53] chrisdiao commented on #61
Included this on v0.15.0 release

[2021-07-21 12:53] #61 closed

[2021-07-22 10:46] #66 closed

[2021-07-23 17:38] GINAGC commented on #71
This is fixed in release 0.10.0 from minio version.

[2021-07-23 17:38] #71 closed

[2021-07-26 07:34] chrisdiao commented on #75
Hello @aghapygad336 , is this still an issue?

[2021-07-26 08:59] MaNe2020 commented on #76
This has been fixed. Closing the incident.

[2021-07-26 09:00] #76 closed

[2021-07-28 07:30] MaNe2020 opened #77 "INC-10- Not possible to set IP v0.16.8"
1. Deploy AMI from latest from develop
2. Navigate to Workflows/Configuration
3. Add IP you want to configure
4. Click on "Set IP"

After step 4, IP will not be set and it will return white screen
![image](https://user-images.githubusercontent.com/70108899/127281974-600ec890-7468-4455-955e-020c9e78a90e.png)

The error happens on:
http://localhost:8000/configuration/configure_gw_sdk_endpoints/
And

[2021-07-29 11:48] MaNe2020 commented on #77
This has been verified. With PR revert issue is no longer present.

[2021-07-30 10:55] MaNe2020 opened #78 "Missing Glasswall logo from CDR F2F"
Glasswall logo not present in upper left corner of CDR F2F v0.16.0
![image](https://user-images.githubusercontent.com/70108899/127643148-d36b9ea4-0254-4787-a66d-857043ebd2af.png)

[2021-08-02 08:27] #77 closed

[2021-08-02 13:27] chrisdiao commented on #16
Closing this case, this has been implemented
https://glasswall-solutions.slack.com/archives/C020UU22BB4/p1627645498016700

[2021-08-02 13:27] #16 closed

[2021-08-05 10:01] MaNe2020 opened #79 "It is possible to set SDK IP with PORT 80"
1. Navigate to CDR F2F Workflow>Configuration
2. Set SDK IP, use cloud-sdk.glasswallsolutions.com
3. Set port 80
4. Do processing of any dataset
5. Set port 443
6. Do processing of any dataset

Expected results:
After step 3, not possible to set port 80

Actual result:
After step 3, able to set port 80
After step 4, all files will end up as "failed to rebuild" with 405 error, method not allowed
Af

[2021-08-09 19:25] aghapygad336 commented on #78
Solved by UI team :clap:
![image](https://user-images.githubusercontent.com/46167070/128762598-ab4be3bc-14a8-4857-9f4f-e7bba41c103b.png)

[2021-08-10 09:50] aghapygad336 opened #80 "Folder in hd3 after processing"
**sometimes** as shown arrows  there is a data folder

![image](https://user-images.githubusercontent.com/46167070/128846171-77061396-4595-410a-b2ad-a4830193d216.png)

[2021-08-10 17:45] #79 closed

[2021-08-10 17:45] #80 closed